// variables des thèmes à rajouter
$themes: (
  one: (
    mainBackground: hsl(222, 26%, 31%),
    screenBackground: hsl(224, 36%, 15%),
    keypadToggleBackground: hsl(223, 31%, 20%),
    delResetBackground: hsl(225, 21%, 49%),
    delResetShadow: 3px solid hsl(224, 28%, 35%),
    equalToggleBackground: hsl(6, 63%, 50%),
    equalShadow: 3px solid hsl(6, 70%, 34%),
    numbersBackground: hsl(30, 25%, 89%),
    numbersShadow: 3px solid hsl(28, 16%, 65%),
    colorTextOne: hsl(221, 14%, 31%),
    colorTextTwo: hsl(0, 0, 100%),
  ),
  two: (
    mainBackground: hsl(0, 0%, 90%),
    screenBackground: hsl(0, 0%, 93%),
    keypadToggleBackground: hsl(0, 5%, 81%),
    delResetBackground: hsl(185, 42%, 37%),
    delResetShadow: 3px solid hsl(185, 58%, 25%),
    equalToggleBackground: hsl(25, 98%, 40%),
    equalShadow: 3px solid hsl(25, 99%, 27%),
    numbersBackground: hsl(45, 7%, 89%),
    numbersShadow: 3px solid hsl(35, 11%, 61%),
    colorTextOne: hsl(60, 10%, 19%),
    colorTextTwo: hsl(0, 0, 100%),
  ),
  three: (
    mainBackground: hsl(268, 75%, 9%),
    screenBackground: hsl(268, 71%, 12%),
    keypadToggleBackground: hsl(268, 71%, 12%),
    delResetBackground: hsl(281, 89%, 26%),
    delResetShadow: 3px solid hsl(285, 91%, 52%),
    equalToggleBackground: hsl(176, 100%, 44%),
    equalShadow:  3px solid hsl(177, 92%, 70%),
    numbersBackground: hsl(268, 47%, 21%),
    numbersShadow: 3px solid hsl(290, 70%, 36%),
    colorTextOne: hsl(52, 100%, 62%),
    colorTextTwo: hsl(198, 20%, 13%),
    colorTextThree: hsl(0, 0, 100%),
  ),
);

// Font size numbers
$size: 32px;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Spartan', sans-serif;;
  font-weight: 700;

  .key {
    font-size: $size;
    border-radius: 10px;
    margin: 5px;
    border: none;
    border-bottom-style: outset;
  }
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  grid-template-rows: 20% 15% 50% 1fr;
  grid-template-areas:
  ". calc ."
  ". screen ."
  ". main ."
  ". attribution .";
}

.calc {
  margin: auto;
  margin-bottom: 5px;
  width:25em;
  height: 5em;
  background:lightblue;
  border-radius: 5px;
  grid-area: calc;
  display: grid;
  grid-template-rows: 1fr 20% 20%;
  grid-template-columns: 15% 1fr 10% 17%;
  grid-template-areas: 
  ". . . mode"
  "calc . theme btn"
  ". . . .";

  h4 {
    grid-area: calc;
  }

  h5 {
    grid-area: theme;
  }

  .btn {
    margin: 0 auto;
    width: 3em;
    height: 15px;
    border-radius: 50px;
    grid-area: btn;
  }

  ul {
    grid-area: mode;
    text-align: center;
    align-self: flex-end;
    display: block;
    padding: 0;
  }

  ul > li {
    list-style: none;
    display: inline-block;
    align-items: center;
  }
}

.screen {
  margin: auto;
  margin-bottom: 0;
  width:25em;
  height: 15vh;
  background:lightblue;
  border-radius: 5px;
  grid-area: screen;
}

.main {
  margin: auto;
  padding: 15px;
  width:25em;
  height: 20em;
  background:lightblue;
  border-radius: 5px;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5px;
  grid-template-areas: 
  ". . . ."
  ". . . ."
  ". . . ."
  ". . . ."
  "reset reset equal equal";
}

#reset {
  grid-area: reset;
}

#equal {
  grid-area: equal;
}

.attribution {
  grid-area: attribution;
  text-align: center;
  align-self: center;
}

